<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.25/dist/vue.global.min.js"></script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-body border-bottom box-shadow mb-3" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Project</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Plan" asp-action="Index">Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Chat" asp-action="ChatRoom">Chat</a>
                            </li>
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-route-name="@User.Identity.Name" asp-area="" asp-controller="Profile" asp-action="Index">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <footer class="bg-dark text-light">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md-3">
                        <h5>ПЛАНИРОВЩИК ТРЕНИРОВОК</h5>
                        <p class="small">Онлайн-планировщик тренировок позволяет вам создать 5 бесплатных индивидуальных планов тренировок, которые помогут вам достичь ваших целей в фитнесе.</p>
                    </div>
                    <div class="col-md-3">
                        <h5>О НАС</h5>
                        <p class="small">Мы ваш личный тренер, ваш диетолог, ваш эксперт по добавкам. Наша цель – сделать спорт приятным для здоровой жизни.</p>
                        <ul class="list-unstyled">
                            <li><a href="#" class="small">Кто мы</a></li>
                            <li><a href="#" class="small">Связаться</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Полезные ресурсы</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="small">Питание</a></li>
                            <li><a href="#" class="small">Политика конфиденциальности</a></li>
                            <li><a href="#" class="small">Дисклеймер</a></li>
                            <li><a href="#" class="small">Условия пользования</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>КОНТАКТЫ</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://github.com/kerbixxx" class="small">GitHub</a></li>
                            <li class="small">kerbixcs@mail.ru</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
