@using GymPlanner.Application.Models.Chat;
<!-- Index.cshtml -->
@model List<DialogDto>

@foreach (var dialog in Model)
{
    <a href="@Url.Action("Messages", "Chat", new { userId = dialog.Id })">@dialog.OtherUserName</a>
    <br />
}