@using GymPlanner.Domain.Entities.Chat;
<!-- Index.cshtml -->
@model List<Dialog>

@foreach (var dialog in Model)
{
    <a href="@Url.Action("Messages", "Chat", new { userId = dialog.OtherUserId })">@dialog.OtherUserName</a>
    <br />
}