@using GymPlanner.Application.Models.Plan;
@model ExerciseDto 

<div class="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавление упражнения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form method="post" asp-action="AddExerсise" asp-controller="Plan">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="PlanId" hidden />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Name">Название упражнения</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Добавить" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>