@using GymPlanner.Application.Models.Chat;
@model List<DialogDto>

<div id="chat-selector">
    <div v-for="dialog in dialogs" :key="dialog.id" v-on:click="selectChat(dialog.id)">
        {{ dialog.otherUserName }} {{ dialog.id }}
    </div>
</div>
<div id="message-display">
    <div v-for="message in messages">
        <p>
            {{ message.Content }}
        </p>
    </div>
</div>
@section Scripts{
    <script>
        const chatSelector = Vue.createApp({
            data() {
                return {
                    dialogs: @Html.Raw(Json.Serialize(Model)),
                    messages: ''
                }
            },
            methods: {
                selectChat(dialogId) {
                    fetch(`/Chat/Messages/${dialogId}`)
                        .then(response => response.json())
                        .then(data => {
                            this.messages = data;
                        })
                        .catch(error => console.error('Ошибка:', error));
                }
            }
        });
        chatSelector.mount('#chat-selector');

        const messageDisplay = Vue.createApp({
            data() {
                return {
                    messages: []
                }
            },
            methods: {
                loadMessages(dialogId) {

                }
            }
        });
        messageDisplay.mount('#message-display');
    </script>
}