@using GymPlanner.Application.Models.Chat;
@model List<DialogDto>

<div id="chat-selector">
    <div v-for="dialog in dialogs" :key="dialog.id" v-on:click="selectChat(dialog.id)">
        {{ dialog.otherUserName }} {{ dialog.id }}
    </div>
</div>
<div id="message-display">
    <div v-for="message in messages.messages">
        <p>
            {{message.content}}
        </p>
    </div>
</div>
@section Scripts{
    <script>
        const store = {
            state: Vue.reactive({
                messages: []
            }),
            mutations: {
                updateMessages(messages) {
                    store.state.messages = messages;
                }
            }
        };

        const chatSelector = Vue.createApp({
            data() {
                return {
                    dialogs: @Html.Raw(Json.Serialize(Model))
                }
            },
            methods: {
                selectChat(dialogId) {
                    fetch(`/Chat/Messages/${dialogId}`)
                        .then(response => response.json())
                        .then(data => {
                            store.mutations.updateMessages(data);
                        })
                        .catch(error => console.error('Ошибка:', error));
                }
            }
        });
        chatSelector.mount('#chat-selector');

        const { ref, watchEffect } = Vue;

        const messageDisplay = Vue.createApp({
            setup() {
                const messages = ref([]); 
                watchEffect(() => {
                    messages.value = store.state.messages;
                });
                return {
                    messages,
                };
            }
        });
        messageDisplay.mount('#message-display');
    </script>
}