<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="lead text-center">ОНЛАЙН-ПЛАНИРОВЩИК ТРЕНИРОВОК</p>
            <p class="text-center">
                С помощью конструктора тренировок вы можете легко создать желаемый план тренировок. Созданный вами план тренировок показывает, как выполняются упражнения и какие группы мышц они прорабатывают. Пользовательский план тренировок, разработанный вами с помощью генератора тренировок, автоматически сохраняется в вашем профиле. Таким образом, когда вы пойдете на обучение, вы сможете открыть страницу своего профиля и следовать сохраненному плану обучения. В отличие от других платных программ, онлайн-планировщик тренировок совершенно бесплатен. Если вы хотите разработать бесплатный персонализированный план тренировок, все, что вам нужно сделать, это стать бесплатным участником.
            </p>
            <img src="img/example.jpg" class="d-block mx-auto" />
            <hr>
            <p class="lead text-center">БЕСПЛАТНЫЕ ЕЖЕМЕСЯЧНЫЕ ПЛАНЫ ТРЕНИРОВОК</p>
            <p class="text-center">
                Будьте готовы начать свое фитнес-путешествие с нашими специально разработанными бесплатными планами тренировок! Эти комплексные программы, разработанные для того, чтобы помочь вам на каждом этапе вашего пути к трансформации, специально разработаны с учетом всех уровней физической подготовки и предпочтений.
            </p>
            <img src="img/example.jpg" class="d-block mx-auto" />
            <hr>
            <p class="lead text-center">НОВОСТИ</p>
            <p class="text-center">
                Будьте в курсе и вдохновляйтесь, пока мы исследуем широкий спектр тем, включая упражнения, советы по питанию, тенденции тренировок и многое другое.
            </p>
            <img src="img/example.jpg" class="d-block mx-auto" />
        </div>
    </div>
</div>
