@using GymPlanner.Application.Models.Plan;
@model ExerciseDto
<div class="excersiseModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавление упражнения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-footer">
                <form method="post" asp-action="AddExercise">
                    <input asp-for="Name" />
                    <div class="form-group row">
                        <div class="col-8 offset-4 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Обновить" />
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>