@using GymPlanner.Domain.Entities.Plans;
@model Plan

<div class="border p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="p1-3">@Model.Name</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Index" class="btn btn-primary w-50">Назад</a>
        </div>
    </div>
    @if (Model.planExersiseFrequencies.Count > 0)
    {
        <div class="row">
            <div class="col-16">
                <table class="table table-bordered border-primary" style="width:100%">
                    <thead>
                        <tr>
                            <td>Упражнения/Дни</td>
                            @for (int i = 0; i < Model.planExersiseFrequencies.Count; i++)
                            {
                                <td>@Model.planExersiseFrequencies[i].Frequency.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.planExersiseFrequencies.Count; i++)
                        {
                            <tr>
                                <td>@Model.planExersiseFrequencies[i].Exercise.Name</td>
                                @for (int j = 0; j < Model.planExersiseFrequencies.Count; j++)
                                {
                                    <td>@Model.planExersiseFrequencies[j].Description</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>План не заполнен</p>
    }
</div>
