<div class="container pt-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Список планов</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">Добавить новый план</a>
        </div>
    </div>

    <br /><br />

    <div class="searchPlans">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="tagFilter" placeholder="Фильтр по тегам" aria-label="Фильтр по тегам" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="applyFilter">Применить</button>
                    <label class="input-group-text" for="inputSortBy">Сортировка по:</label>
                    <select class="form-select" id="inputSortBy">
                        <option selected>Выбор...</option>
                        <option value="Rating">Рейтинг</option>
                        <option value="CommentCount">Количество комментариев</option>
                        <option value="CreatedDate">Дата создания</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="searchResults">
        <!-- Здесь будет отображаться отфильтрованный список планов -->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-plan').click(function () {
            var planId = $(this).data('plan-id');

            $.ajax({
                url: '/Plan/DeletePlan',
                type: 'DELETE',
                data: { planId: planId },
                success: function (response) {
                    console.log('Plan successfully deleted');
                    window.location.href = '/Plan/Index';
                },
                error: function (xhr, status, error) {
                    console.error('Error deleting plan:', error);
                }
            });
        });
    });

    $(document).ready(function () {
        // Функция для выполнения запроса на получение отфильтрованных планов при загрузке страницы
        function loadFilteredPlans() {
            var tagFilter = $('#tagFilter').val(); // Получаем значение введенного пользователем тега
            $.ajax({
                url: '/Plan/GetFilteredPlans', // Укажите URL для обработки запроса на сервере
                type: 'GET',
                data: { tag: tagFilter }, // Передаем значение тега на сервер
                success: function (response) {
                    // Обновляем содержимое страницы с отфильтрованными данными
                    $('.searchResults').html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error loading filtered plans:', error);
                }
            });
        }

        // Вызываем функцию загрузки отфильтрованных планов при загрузке страницы
        loadFilteredPlans();

        // Добавляем обработчик события для кнопки "Применить фильтр"
        $('#applyFilter').click(function () {
            // Выполняем запрос на получение отфильтрованных планов при клике на кнопку
            loadFilteredPlans();
        });
    });

</script>