@using GymPlanner.Domain.Entities.Plans;
@model List<Plan>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список планов</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">Добавить новый план</a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Элементы управления</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var plan in Model)
                {
                    <tr>
                        <td width="30%">@plan.Name</td>
                        <td class="text-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-route-Id="@plan.Id" asp-action="Details" class="btn btn-primary mx-2">Просмотр</a>
                                <a asp-route-Id="@plan.UserId" asp-controller="Profile" asp-action="Index" class="btn btn-primary mx-2">В профиль автора</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
