html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-container {
    width: 300px; /* задаем ширину блока */
    margin: 0 auto; /* автоматический отступ слева и справа делает блок по центру */
    padding: 20px; /* добавляем отступы вокруг содержимого блока */
    border: 1px solid #ccc; /* добавляем рамку для выделения блока */
    border-radius: 5px; /* закругляем углы рамки */
    text-align: center; /* выравниваем текст внутри блока по центру */
}

.form {
    text-align: left; /* выравниваем текст внутри формы по левому краю */
}

.form-group {
    margin-bottom: 15px; /* добавляем отступ снизу для каждой группы элементов формы */
}

.form input[type="text"],
.form input[type="password"] {
    width: 100%; /* делаем поля ввода по ширине блока */
    padding: 10px; /* добавляем отступы внутри поля ввода */
    margin-top: 5px; /* добавляем небольшой отступ сверху для поля ввода */
    border: 1px solid #ccc; /* добавляем рамку для поля ввода */
    border-radius: 3px; /* закругляем углы рамки */
}

.form input[type="submit"] {
    width: 100%; /* делаем кнопку по ширине блока */
    padding: 10px; /* добавляем отступы внутри кнопки */
    margin-top: 10px; /* добавляем отступ сверху для кнопки */
    border: none; /* убираем рамку у кнопки */
    background-color: #007bff; /* задаем цвет фона для кнопки */
    color: #fff; /* задаем цвет текста для кнопки */
    border-radius: 3px; /* закругляем углы кнопки */
    cursor: pointer; /* меняем курсор при наведении на кнопку */
}

.form input[type="submit"]:hover {
    background-color: #0056b3; /* меняем цвет фона при наведении на кнопку */
}

