<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="lead text-center">ВАША ТРАНСФОРМАЦИЯ — НАШЕ СТРЕМЛЕНИЕ</p>
            <p class="text-center">
                С помощью конструктора тренировок вы можете легко создать желаемый план тренировок. Созданный вами план тренировок показывает, как выполняются упражнения и какие группы мышц они прорабатывают. Пользовательский план тренировок, разработанный вами с помощью генератора тренировок, автоматически сохраняется в вашем профиле. Таким образом, когда вы пойдете на обучение, вы сможете открыть страницу своего профиля и следовать сохраненному плану обучения. В отличие от других платных программ, онлайн-планировщик тренировок совершенно бесплатен. Если вы хотите разработать бесплатный персонализированный план тренировок, все, что вам нужно сделать, это стать бесплатным участником.
            </p>
            <hr>
            <p class="lead text-center">ЧТО МЫ ДЕЛАЕМ?</p>
            <p class="text-center">
                Наша цель – сделать спорт приятным для здоровой жизни. Поскольку век технологий развивается быстрыми темпами, фитнес-индустрия совершенствуется каждый день, адаптируясь к этому темпу и обновляясь за счет актуальной информации. Именно поэтому Fitnessprogramer.com всегда учитывает самые актуальные научные исследования. Следуя последним научным исследованиям в области развития мышц и силы, мы заботимся о том, чтобы разрабатывать наши программы тренировок в соответствии с самыми последними данными.
            </p>
        </div>
    </div>
</div>
