<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                GymPlanner.com предоставляет этот сайт в качестве услуги.
            </p>
            <p>
                Хотя информация, содержащаяся на сайте, периодически обновляется, мы не гарантируем, что информация, представленная на этом сайте, является правильной, полной и/или актуальной.
            </p>
            <p>
                Материалы, содержащиеся на этом веб-сайте, предназначены только для общих информационных целей и не представляют собой юридические или другие профессиональные консультации по какому-либо вопросу. Пожалуйста, проконсультируйтесь с лицензированным врачом или медицинским работником перед применением каких-либо новых упражнений, плана диеты, добавок или любого другого режима, связанного со здоровьем.
            </p>
            <p>
                Любые заявления, сделанные на этом веб-сайте, не были проверены FDA, и любая обсуждаемая информация или продукты не предназначены для диагностики, лечения или предотвращения каких-либо заболеваний или заболеваний. Пожалуйста, проконсультируйтесь с врачом, прежде чем вносить изменения в свой рацион или режим физических упражнений, которые могут повлиять на ваше здоровье или прием лекарств.
            </p>
            <p>
                GymPlanner.com не несет никакой ответственности за любые травмы или убытки, которые могут возникнуть в результате использования информации, содержащейся на этом сайте.
            </p>
            <p>
                Разрешено скачивание и временное хранение одной или нескольких этих страниц с целью просмотра на персональном компьютере. Содержимое этого сайта защищено авторским правом в соответствии с международными конвенциями, и, кроме указанного разрешения, воспроизведение, постоянное хранение или ретрансляция содержимого этого сайта запрещены без предварительного письменного согласия GymPlanner.com.
            </p>
            <p>
                Некоторые ссылки на этом веб-сайте могут вести на другие веб-сайты, в том числе на те, которые управляются и обслуживаются третьими лицами. GymPlanner.com включает эти ссылки исключительно для вашего удобства, и наличие такой ссылки не подразумевает ответственности за связанный сайт или одобрение связанного сайта, его оператора или его содержимого Fitnessprogramer.com.
            </p>
            <p>
                Этот веб-сайт и его содержимое предоставляются «КАК ЕСТЬ» без каких-либо гарантий, явных или подразумеваемых, включая, помимо прочего, подразумеваемые гарантии коммерческой ценности, пригодности для определенной цели или отсутствия нарушений прав.
            </p>
            <p>
                Воспроизведение, распространение, переиздание и/или повторная передача материалов, содержащихся на этом веб-сайте, запрещены без получения предварительного письменного разрешения GymPlanner.com.
            </p>
        </div>
    </div>
</div>