<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ GYMPLANNER</h2>
            <p>Эта политика конфиденциальности была составлена ​​для лучшего обслуживания тех, кто обеспокоен тем, как их «личная информация» (PII) используется в Интернете. PI — это информация, которая может использоваться сама по себе или вместе с другой информацией для идентификации, установления контакта или определения местонахождения отдельного человека, а также для идентификации человека в контексте. Пожалуйста, внимательно прочтите нашу политику конфиденциальности, чтобы получить четкое представление о том, как мы собираем, используем, защищаем или иным образом обрабатываем вашу личную информацию в соответствии с нашим веб-сайтом.</p>
            <h2>КАКУЮ ЛИЧНУЮ ИНФОРМАЦИЮ МЫ СОБИРАЕМ ОТ ЛЮДЕЙ, ПОСЕЩАЮЩИХ НАШ БЛОГ, ВЕБ-САЙТ ИЛИ ПРИЛОЖЕНИЕ?</h2>
            <p>
                При заказе или регистрации на нашем сайте, в зависимости от обстоятельств, вас могут попросить ввести свое имя, адрес электронной почты, почтовый адрес, информацию о кредитной карте или другие данные, чтобы мы могли предоставить вам наши услуги.
            </p>
            <h2>КОГДА МЫ СОБИРАЕМ ИНФОРМАЦИЮ?</h2>
            <p>Мы собираем информацию от вас, когда вы регистрируетесь на нашем сайте, размещаете заказ, подписываетесь на рассылку новостей, заполняете форму или вводите информацию на нашем сайте.</p>
        </div>
    </div>
</div>