<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>TERMS AND CONDITIONS</h2>
            <h4>ПРИНЯТИЕ УСЛОВИЙ</h4>
            <p>
                Добро пожаловать на сайт составителя планов (СП). FP предоставляет вам Услуги GymPlanner (определенные ниже) в соответствии со следующими Условиями обслуживания («TOS»), которые мы можем время от времени обновлять без предварительного уведомления. Вы можете просмотреть самую последнюю версию Условий использования в любое время. Получая доступ к Услугам GymPlanner и используя их, вы принимаете и соглашаетесь соблюдать условия и положения УПУ, а также соглашаетесь возмещать убытки и ограждать GymPlanner FP., ее должностных лиц, директоров, акционеров и сотрудников от любых травм, несчастных случаев, или прямой или косвенный ущерб любого рода, который вы можете понести в результате занятий фитнесом или использования веб-сайта GymPlanner.com и любых других услуг FitnessProgram. Кроме того, при использовании определенных услуг, принадлежащих или управляемых GymPlanner, вы и FP несете ответственность за к любым опубликованным руководствам или правилам, применимым к таким услугам, которые могут время от времени публиковаться и изменяться.

                Авторы данного веб-сайта предоставляют информацию исключительно в образовательных целях. Информация, представленная на этом веб-сайте и в наших услугах, не предназначена для постановки диагноза или назначения рецепта. Перед началом любой диеты или фитнес-программы проконсультируйтесь с врачом. Прекратите любые упражнения, которые причиняют вам боль или сильный дискомфорт, и обратитесь к врачу. Авторы этого веб-сайта и всего его содержимого не могут гарантировать пользователям GymPlanner какие-либо результаты тренировок, здоровья, снижения веса или фитнеса.
            </p>
        </div>
    </div>
</div>